<% lorem = "Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Dicta aspernatur doloribus eveniet cum molestias et beatae cupiditate. Accusamus dignissimos laboriosam nihil rem sit maxime! Eos inventore debitis quia, consectetur quo!" %>

<h2> <%= @article.title %> </h2>

<h4> <%= @article.content %> </h4>

<!-- <p> <%= lorem * 10 %> </p>
 -->

<p><%= link_to "Edit this post", edit_article_path %></p>
<p><%= link_to "Delete this post",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
<p><%= link_to "Back to article list", articles_path %></p>
